### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [33]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [34]:
unique_players = {"Total Players": [len(purchase_data["SN"].unique())]}
unique_players_df = pd.DataFrame(unique_players)
unique_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [35]:
purchasing_analysis = {"Number of Unique Items":[len(purchase_data["Item ID"].unique())], 
                       "Average Price":[(purchase_data["Price"].mean())], 
                       "Number of Purchases":[len(purchase_data["Purchase ID"])], 
                       "Total Revenue":[sum(purchase_data["Price"])]}
purchasing_analysis_df = pd.DataFrame(purchasing_analysis)
purchasing_analysis_df = purchasing_analysis_df.style.format({"Average Price":"${0:,.2f}", "Total Revenue":"${0:,.2f}"}).hide_index()
purchasing_analysis_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [36]:
deduped_df = purchase_data.drop_duplicates(subset=["SN"]).groupby(["Gender"])
gender_counts = deduped_df.count()
gender_counts = gender_counts.drop(["Purchase ID", "Age", "Item ID", "Item Name", "Price",], axis=1).reindex(["Male","Female","Other / Non-Disclosed"]).rename(columns={"SN":"Total Count"})
gender_counts.rename_axis(None, inplace=True)
gender_counts["Percentage of Players"] = gender_counts["Total Count"] / gender_counts["Total Count"].sum() * 100
gender_counts = gender_counts.style.format({"Percentage of Players":"{0:,.2f}%"})
gender_counts


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [37]:
female_df = purchase_data.loc[purchase_data["Gender"] == "Female"]
male_df = purchase_data.loc[purchase_data["Gender"] == "Male"]
other_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]

female_reduced_df = female_df[["SN", "Price"]]
female_grouped = female_reduced_df.groupby(["SN"])
female_sn_totals = female_grouped.sum()
female_avg_total_pp = sum(female_sn_totals["Price"]) / len(female_sn_totals["Price"])

male_reduced_df = male_df[["SN", "Price"]]
male_grouped = male_reduced_df.groupby(["SN"])
male_sn_totals = male_grouped.sum()
male_avg_total_pp = sum(male_sn_totals["Price"]) / len(male_sn_totals["Price"])

other_reduced_df = other_df[["SN", "Price"]]
other_grouped = other_reduced_df.groupby(["SN"])
other_sn_totals = other_grouped.sum()
other_avg_total_pp = sum(other_sn_totals["Price"]) / len(other_sn_totals["Price"])

gender_summary_df = pd.DataFrame({"Gender": ["Female", "Male", "Other / Non-Disclosed"],
                                  "Purchase Count": [len(female_df["Purchase ID"]), len(male_df["Purchase ID"]), len(other_df["Purchase ID"])],
                                  "Average Purchase Price": [female_df["Price"].mean(), male_df["Price"].mean(), other_df["Price"].mean()],
                                  "Total Purchase Value": [sum(female_df["Price"]), sum(male_df["Price"]), sum(other_df["Price"])],
                                  "Avg Total Purchase per Person": [female_avg_total_pp, male_avg_total_pp, other_avg_total_pp]})

gender_summary_df = gender_summary_df.set_index("Gender")
gender_summary_df = gender_summary_df.style.format({"Average Purchase Price": "${0:,.2f}",
                                                    "Total Purchase Value": "${0:,.2f}",
                                                    "Avg Total Purchase per Person": "${0:,.2f}"})
gender_summary_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [38]:
deduped_players = purchase_data.drop_duplicates(subset = ["SN"])
bins = [-1, 9, 14, 19, 24, 29, 34, 39, 500]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
deduped_players["Age Bin"] = pd.cut(deduped_players["Age"], bins, labels=bin_labels)
binned_players = deduped_players.drop(["SN", "Age", "Gender", "Item ID", "Item Name", "Price"], axis=1).groupby(["Age Bin"])
bins_summary = binned_players.count()
bins_summary.rename_axis(None, inplace=True)
bins_summary = bins_summary.rename(columns={"Purchase ID": "Total Count"})
bins_summary["Percentage of Players"] = bins_summary["Total Count"] / sum(bins_summary["Total Count"]) * 100
bins_summary = bins_summary.style.format({"Percentage of Players": "{0:,.2f}%"})
bins_summary

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [39]:
bins = [-1, 9, 14, 19, 24, 29, 34, 39, 500]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Bin"] = pd.cut(purchase_data["Age"], bins, labels=bin_labels)


age_under_10 = purchase_data.loc[purchase_data["Age Bin"] == "<10"]
age_10_14 = purchase_data.loc[purchase_data["Age Bin"] == "10-14"]
age_15_19 = purchase_data.loc[purchase_data["Age Bin"] == "15-19"]
age_20_24 = purchase_data.loc[purchase_data["Age Bin"] == "20-24"]
age_25_29 = purchase_data.loc[purchase_data["Age Bin"] == "25-29"]
age_30_34 = purchase_data.loc[purchase_data["Age Bin"] == "30-34"]
age_35_39 = purchase_data.loc[purchase_data["Age Bin"] == "35-39"]
age_over_39 = purchase_data.loc[purchase_data["Age Bin"] == "40+"]


age_under_10_reduced = age_under_10[["SN", "Price"]]
age_under_10_grouped = age_under_10_reduced.groupby(["SN"])
age_under_10_sn_totals = age_under_10_grouped.sum()
age_under_10_avg_total_pp = sum(age_under_10_sn_totals["Price"]) / len(age_under_10_sn_totals["Price"])

age_10_14_reduced = age_10_14[["SN", "Price"]]
age_10_14_grouped = age_10_14_reduced.groupby(["SN"])
age_10_14_sn_totals = age_10_14_grouped.sum()
age_10_14_avg_total_pp = sum(age_10_14_sn_totals["Price"]) / len(age_10_14_sn_totals["Price"])

age_15_19_reduced = age_15_19[["SN", "Price"]]
age_15_19_grouped = age_15_19_reduced.groupby(["SN"])
age_15_19_sn_totals = age_15_19_grouped.sum()
age_15_19_avg_total_pp = sum(age_15_19_sn_totals["Price"]) / len(age_15_19_sn_totals["Price"])

age_20_24_reduced = age_20_24[["SN", "Price"]]
age_20_24_grouped = age_20_24_reduced.groupby(["SN"])
age_20_24_sn_totals = age_20_24_grouped.sum()
age_20_24_avg_total_pp = sum(age_20_24_sn_totals["Price"]) / len(age_20_24_sn_totals["Price"])

age_25_29_reduced = age_25_29[["SN", "Price"]]
age_25_29_grouped = age_25_29_reduced.groupby(["SN"])
age_25_29_sn_totals = age_25_29_grouped.sum()
age_25_29_avg_total_pp = sum(age_25_29_sn_totals["Price"]) / len(age_25_29_sn_totals["Price"])

age_30_34_reduced = age_30_34[["SN", "Price"]]
age_30_34_grouped = age_30_34_reduced.groupby(["SN"])
age_30_34_sn_totals = age_30_34_grouped.sum()
age_30_34_avg_total_pp = sum(age_30_34_sn_totals["Price"]) / len(age_30_34_sn_totals["Price"])

age_35_39_reduced = age_35_39[["SN", "Price"]]
age_35_39_grouped = age_35_39_reduced.groupby(["SN"])
age_35_39_sn_totals = age_35_39_grouped.sum()
age_35_39_avg_total_pp = sum(age_35_39_sn_totals["Price"]) / len(age_35_39_sn_totals["Price"])

age_over_39_reduced = age_over_39[["SN", "Price"]]
age_over_39_grouped = age_over_39_reduced.groupby(["SN"])
age_over_39_sn_totals = age_over_39_grouped.sum()
age_over_39_avg_total_pp = sum(age_over_39_sn_totals["Price"]) / len(age_over_39_sn_totals["Price"])


age_summary = pd.DataFrame({"Age Ranges": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
                            "Purchase Count": [len(age_under_10["Purchase ID"]), len(age_10_14["Purchase ID"]), len(age_15_19["Purchase ID"]), len(age_20_24["Purchase ID"]), len(age_25_29["Purchase ID"]), len(age_30_34["Purchase ID"]), len(age_35_39["Purchase ID"]), len(age_over_39["Purchase ID"])],
                            "Average Purchase Price": [age_under_10["Price"].mean(), age_10_14["Price"].mean(), age_15_19["Price"].mean(), age_20_24["Price"].mean(), age_25_29["Price"].mean(), age_30_34["Price"].mean(), age_35_39["Price"].mean(), age_over_39["Price"].mean()],
                            "Total Purchase Value": [sum(age_under_10["Price"]), sum(age_10_14["Price"]), sum(age_15_19["Price"]), sum(age_20_24["Price"]), sum(age_25_29["Price"]), sum(age_30_34["Price"]), sum(age_35_39["Price"]), sum(age_over_39["Price"])],
                            "Avg Total Purchase per Person": [age_under_10_avg_total_pp, age_10_14_avg_total_pp, age_15_19_avg_total_pp, age_20_24_avg_total_pp, age_25_29_avg_total_pp, age_30_34_avg_total_pp, age_35_39_avg_total_pp, age_over_39_avg_total_pp]})

age_summary = age_summary.set_index(["Age Ranges"]).style.format({"Average Purchase Price": "${0:,.2f}", "Total Purchase Value": "${0:,.2f}", "Avg Total Purchase per Person": "${0:,.2f}"})

age_summary

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [40]:
SN_data = purchase_data.groupby(["SN"])
SN_sums = SN_data.sum()
SN_sums = SN_sums.sort_values(["Price"], ascending=False)
SN_sums = SN_sums.reset_index()

first_buyer = SN_sums.iloc[0,0]
second_buyer = SN_sums.iloc[1,0]
third_buyer = SN_sums.iloc[2,0]
fourth_buyer = SN_sums.iloc[3,0]
fifth_buyer = SN_sums.iloc[4,0]

first_buyer_data = purchase_data.loc[purchase_data["SN"] == first_buyer]
second_buyer_data = purchase_data.loc[purchase_data["SN"] == second_buyer]
third_buyer_data = purchase_data.loc[purchase_data["SN"] == third_buyer]
fourth_buyer_data = purchase_data.loc[purchase_data["SN"] == fourth_buyer]
fifth_buyer_data = purchase_data.loc[purchase_data["SN"] == fifth_buyer]

top_spenders_data = pd.DataFrame({"SN": [first_buyer, second_buyer, third_buyer, fourth_buyer, fifth_buyer],
                                  "Purchase Count": [len(first_buyer_data), len(second_buyer_data), len(third_buyer_data), len(fourth_buyer_data), len(fifth_buyer_data)],
                                  "Average Purchase Price": [sum(first_buyer_data["Price"]) / len(first_buyer_data["Price"]), sum(second_buyer_data["Price"]) / len(second_buyer_data["Price"]), sum(third_buyer_data["Price"]) / len(third_buyer_data["Price"]), sum(fourth_buyer_data["Price"]) / len(fourth_buyer_data["Price"]), sum(fifth_buyer_data["Price"]) / len(fifth_buyer_data["Price"])],
                                  "Total Purchase Value": [sum(first_buyer_data["Price"]), sum(second_buyer_data["Price"]), sum(third_buyer_data["Price"]), sum(fourth_buyer_data["Price"]), sum(fifth_buyer_data["Price"])]})
                                  
top_spenders_data = top_spenders_data.set_index("SN").style.format({"Average Purchase Price": "${0:,.2f}", "Total Purchase Value": "${0:,.2f}"})
top_spenders_data

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [41]:
popular_items = purchase_data[["Item ID", "Item Name", "Price"]]
popular_items = popular_items.groupby(["Item ID", "Item Name"])
popular_items = popular_items.count()
popular_items = popular_items.sort_values(["Price"], ascending=False)
popular_items = popular_items.reset_index()

first_item = popular_items.iloc[0,0]
second_item = popular_items.iloc[1,0]
third_item = popular_items.iloc[2,0]
fourth_item = popular_items.iloc[3,0]
fifth_item = popular_items.iloc[4,0]

first_item_data = purchase_data.loc[purchase_data["Item ID"] == first_item]
second_item_data = purchase_data.loc[purchase_data["Item ID"] == second_item]
third_item_data = purchase_data.loc[purchase_data["Item ID"] == third_item]
fourth_item_data = purchase_data.loc[purchase_data["Item ID"] == fourth_item]
fifth_item_data = purchase_data.loc[purchase_data["Item ID"] == fifth_item]

popular_items_summary = pd.DataFrame({"Item ID": [first_item, second_item, third_item, fourth_item, fifth_item],
                                      "Item Name": [first_item_data.iloc[0,5], second_item_data.iloc[0,5], third_item_data.iloc[0,5], fourth_item_data.iloc[0,5], fifth_item_data.iloc[0,5]],
                                      "Purchase Count": [len(first_item_data), len(second_item_data), len(third_item_data), len(fourth_item_data), len(fifth_item_data)],
                                      "Item Price": [first_item_data.iloc[0,6], second_item_data.iloc[0,6], third_item_data.iloc[0,6], fourth_item_data.iloc[0,6], fifth_item_data.iloc[0,6]],
                                      "Total Purchase Value": [sum(first_item_data["Price"]), sum(second_item_data["Price"]), sum(third_item_data["Price"]), sum(fourth_item_data["Price"]), sum(fifth_item_data["Price"])]})

popular_items_summary = popular_items_summary.set_index(["Item ID", "Item Name"]).style.format({"Item Price": "${0:,.2f}", "Total Purchase Value": "${0:,.2f}"})

popular_items_summary

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [42]:
profitable_items = purchase_data[["Item ID", "Item Name", "Price"]]
profitable_items = profitable_items.groupby(["Item ID", "Item Name"])
profitable_items = profitable_items.sum()
profitable_items = profitable_items.sort_values(["Price"], ascending=False)
profitable_items = profitable_items.reset_index()

first_item = profitable_items.iloc[0,0]
second_item = profitable_items.iloc[1,0]
third_item = profitable_items.iloc[2,0]
fourth_item = profitable_items.iloc[3,0]
fifth_item = profitable_items.iloc[4,0]

first_item_data = purchase_data.loc[purchase_data["Item ID"] == first_item]
second_item_data = purchase_data.loc[purchase_data["Item ID"] == second_item]
third_item_data = purchase_data.loc[purchase_data["Item ID"] == third_item]
fourth_item_data = purchase_data.loc[purchase_data["Item ID"] == fourth_item]
fifth_item_data = purchase_data.loc[purchase_data["Item ID"] == fifth_item]

profitable_items_summary = pd.DataFrame({"Item ID": [first_item, second_item, third_item, fourth_item, fifth_item],
                                         "Item Name": [first_item_data.iloc[0,5], second_item_data.iloc[0,5], third_item_data.iloc[0,5], fourth_item_data.iloc[0,5], fifth_item_data.iloc[0,5]],
                                         "Purchase Count": [len(first_item_data), len(second_item_data), len(third_item_data), len(fourth_item_data), len(fifth_item_data)],
                                         "Item Price": [first_item_data.iloc[0,6], second_item_data.iloc[0,6], third_item_data.iloc[0,6], fourth_item_data.iloc[0,6], fifth_item_data.iloc[0,6]],
                                         "Total Purchase Value": [sum(first_item_data["Price"]), sum(second_item_data["Price"]), sum(third_item_data["Price"]), sum(fourth_item_data["Price"]), sum(fifth_item_data["Price"])]})

profitable_items_summary = profitable_items_summary.set_index(["Item ID", "Item Name"]).style.format({"Item Price": "${0:,.2f}", "Total Purchase Value": "${0:,.2f}"})

profitable_items_summary

In [52]:
trends_txt = open("HeroesOfPymoliTrends.txt", "w")
trends_txt.write("\n")
trends_txt.write("FIRST OBSERVABLE TREND:")
trends_txt.write("\n")
trends_txt.write("Most of the players of Heroes of Pymoli are male, and they are more likely to be between the ages of 20 and 24 than any other age.")
trends_txt.write("\n")
trends_txt.write("\n")
trends_txt.write("\n")
trends_txt.write("SECOND OBSERVABLE TREND:")
trends_txt.write("\n")
trends_txt.write("Female players of Heroes of Pymoli account for fewer item purchases than male players, but they tend to buy more expensive items.")
trends_txt.write("\n")
trends_txt.write("\n")
trends_txt.write("\n")
trends_txt.write("THIRD OBSERVABLE TREND:")
trends_txt.write("\n")
trends_txt.write("The makers of Heroes of Pymoli may have an opportunity to increase profits by raising the prices of 'Pursuit, Cudgel of Necromancy' and 'Extraction, Quickblade Of Trembling Hands.' They are the lowest-priced of the game's five most popular items, and neither is currently among the game's five most profitable items.")
trends_txt.close()